@import 'tailwindcss';
@theme {
  --font-montserrat: "Montserrat", "sans-serif";
  --default-font-family: var(--font-montserrat);
  --color-primary: #0093f5;
  --color-secondary: #ff41ac;
  --color-accent: #ed4efb;
  --color-background: #f0f0f0;
}

@layer base {
  h1 {
    @apply text-4xl font-black text-primary;
  }
  h2 {
    @apply text-3xl font-semibold text-secondary;
  }
  h3 {
    @apply text-2xl font-semibold text-primary;
  }
  h4 {
    @apply text-xl font-medium text-primary;
  }
  h5 {
    @apply text-lg font-medium text-primary;
  }
  h6 {
    @apply text-base font-medium text-primary;
  }
}